#elements-wrapper {
    background-color: #404040;
    color: whitesmoke;
    width: 100%;
    height: 100%;
}

.elements-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    text-align: center;
    padding: 25px;
    font-size: 14px;
}

.element-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    min-height: 50px;
    width: 100%;
    background-color: transparent;
    margin-bottom: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.58);
    transition: all 0.1s ease-in-out;
}

.element-block:hover {
    color: white;
    border-color: white;
}

.element-icon-wrapper {
    border: 2px solid;
    border-color: inherit;
    transition: all 0.1s ease-in-out;
    border-radius: 3px;
    font-size: 25px;
    padding: 10px;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.element-icon-wrapper:hover {*/
/*    border-color: white;*/
/*}*/