.editor-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 40px);
}

#edit-box {
    width: 300px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #404040;
}

#style-panel {
    width: 290px;
    height: 100%;
    overflow: hidden;
}

#canvas{
    flex-grow: 1;
    padding: 10px;
    max-width: calc(100% - 590px);
    overflow-x: scroll;
}

