.editor-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

#edit-box {
    width: 250px;
    height: 100vh;
    overflow: hidden;
}

#style-panel {
    width: 250px;
    height: 100vh;
    overflow: hidden;
}

#canvas{
    flex-grow: 1;
    padding: 10px;
    max-width: calc(100% - 500px);
    overflow-x: scroll;
}

