.App {
  text-align: center;
}

.box {
  border: grey dotted 2px;
}

 .selected.hover-selected {
  border: #8b3dff solid 2px
}

.hover-selected {
  border: #8b3dff solid 3px
}

.selected {
  border: #8b3dff solid 4px
}