.App {
  text-align: center;
}

* {
    box-sizing: border-box;
}

.selectable {
    position: relative;
}

.box {
  border: grey dotted 2px;
}

.element {
    width: 100%;
    height: 100%;
}

 .selected.hover-selected {
  border: #9f74ee solid 2px
}

.hover-selected {
  border: #9f74ee solid 2px
}

.selected {
  border: #8b3dff solid 2px
}

.edit-handler-wrapper {
    overflow: hidden;
}

.height-sizer, .width-sizer {
    position: absolute;
    border: #8b3dff solid 1.5px;
    background-color: white;
    z-index: 10;
}

.height-sizer:hover, .width-sizer:hover {
    background-color: #8b3dff;
}

.height-sizer {
    width: 25px;
    height: 10px;
    border-radius: 20%;
}

.width-sizer {
    width: 10px;
    height: 25px;
    border-radius: 20%;
}

.width-sizer:hover {
    cursor: ew-resize;
}

.height-sizer:hover {
    cursor: ns-resize;
}

.rectangle-sizer{
    position: relative;
    border: #8b3dff solid 2px;
    background-color: transparent;
}